@model List<HotelModel>

<div class="d-flex w-100 justify-content-between">
    @Html.ActionLink("Create", "Create", "Hotel", new {}, new { @class= "btn btn-primary" })
</div>
<hr />
<table class="table">
    <tr>
        <th>Hotel Id</th>
        <th>Hotel Name</th>
        <th>City</th>
        <th>Adress</th>
        <th>RoomsCapacity</th>
        <th>Actions</th>
    </tr>
    @foreach (var hotel in @Model)
    {
        <tr>
            <td>@hotel.Id</td>
            <td>@hotel.Name</td>
            <td>@hotel.City.Name</td>
            <td>@hotel.Adress</td>
            <td>@hotel.RoomsCapacity</td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Hotel", new { id = hotel.Id },  new { @class= "btn btn-danger" })
                @Html.ActionLink("Edit", "Edit", "Hotel", new { id = hotel.Id },  new { @class= "btn btn-success" })
                @Html.ActionLink("View Hotel", "", "Hotel", new { id = hotel.Id },  new { @class= "btn btn-primary" })
            </td>
        </tr>
    }
</table>